<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="style.css" rel="stylesheet" />
</head>
<body>
<p>HI</p>
<p>This is a test area to send data to express</p>
<form action="/send" method="POST">
  <textarea id="numbers" class="number-area" name="numbers"> </textarea>
  <button type="Submit">Submit</button>

</form>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>